@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    color: #ffffff;
}
li {
    list-style-type: none;
}
.container {
    width: 100%;
    position: relative;
}
.col-half {
    width: calc(50% - 20px);
    margin-left: 20px;
}
.topHead {
    background-color: black;
}
.topHead {
    width: 100%;
    height: 80px;
    background-color: #0084BA;
}
.topHead > div {
    display: inline-block;
    vertical-align: middle;
}
.wrap_Logo {
    margin-top: 13px;
    margin-right: 67px;
}
.wrap_Logo>div {
    display: inline-block;
}
.logo_one {
    height: 50px;
    width: 39px;
    background: url('../assest/logo.svg');
}
.logo_two {
    height: 50px;
    width: 11px;
    background: url('../assest/logo_3.svg');
}
.logo_three {
    height: 50px;
    width: 22px;
    background: url('../assest/logo_2.svg');
}
.searchCity {
    margin-top: 13px;
    height: 55px;
    position: relative;
}
.searchCity select {
    background:#0084BA;
}
.searchCity_wrap {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: 400px;
    height: 100%;
}
.searchCity_wrap button {
    position: absolute;
    top: 17px;
    left: 16px;
    background-color: #ffffff;
}
.searchCity_input {
    width: 100%;
    height: 100%;
    color: #000000;
    padding-left: 47px;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 3px;
}
.searchCity label {
    display: inline-block;
}
.hfcWrap {
    width: calc(50% - 20px);
    height: 100%;
    position: absolute;
    right: 0;
}
.icon_button {
    margin-right: 7px;
}
.hfc, .account {
    display: inline-block;
    /* height: 100%; */
    margin-top: 30px;
}
.hfc_elem {
    display: inline;
    margin-right: 30px;
}
.hfc_elem:last-child {
    margin-right: 0px;
}
.navField_wrap {
    width: 100%;
    height: 40px;
    background-color: #0098D7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navField {
    display: inline-block;
}
.navField_item {
    display: inline;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-right: 70px;
}
.navField_item a {
    font-size: 18px;
}
.navField_item:last-child {
    margin-right: 0px;
}
.breadcrumbs_wrap {
    height: 34px;
}
.breadcrumbs_item {
    display: inline;
}
.breadcrumbs_item::after {
    display: inline-block;
    content: "";
    background: url('../assest/images/account.png') no-repeat;
}
.breadcrumbs_item a {
    color: #1C2E36;
}
