@import url('https://fonts.googleapis.com/css?family=Actor|Source+Sans+Pro&display=swap');
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  position: relative;
  max-width: 1440px;
  margin: 0px auto;
}
.row {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}
.col-half {
  position: relative;
  /* width: calc(50% - 20px); */
  flex-basis: 50%;
  margin-right: 20px;
  height: 100%;
}
.col-half:last-child {
  margin-right: 0px;
}
.header_top {
  height: 80px;
  background-color: #0084BA;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap_burger_menu {
    padding-left: 16px;
    display: none;
}
.wrap_logo {
  width: 73px;
  height: 51px;
  display: flex;
  margin-left: 25px;
  margin-right: 67px;
}
.logo_elem {
  height: 100%;
}
.logo_one {
  width: 39px;
  background: url("../assest/logo_one.svg") left center no-repeat;
}
.logo_two {
  width: 12px;
  background: url("../assest/logo_two.svg") left center no-repeat;
}
.logo_three {
  width: 22px;
  background: url("../assest/logo_three.svg") left center no-repeat;
}
.searchForm_wrap {
  position: relative;
  height: 55px;

}
.search_form {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.search_button {
  position: absolute;
  background: #FFFFFF;
  /*top: 31%;
  left: 4.25%;*/
  top: 17px;
  left: 17px;
}
.search_field {
  height: 100%;
  /* width: 400px; */
  padding-left: 47px;
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 20px;
}
input[placeholder] {
  color: black;
}
.select_city select {
  background-color: #0084BA;
}

.head_right, .head_left {
    display: flex;
    align-items: center;
}
.head_right {
    justify-content: flex-end;
}
.help_elem, .login {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.help_elem_img {
    margin-right: 7px;
}
.login {
    padding-left: 43px;
    padding-right: 10px;
}
.help_mob {
  display: none;
}
.header_nav {
  height: 40px;
  background-color: #0098D7;
}
.header_nav nav {
  margin: 0px auto;
}
.nav_item a{
  text-transform: uppercase;
  font-size: 18px;
}
.nav_item {
  display: inline;
  margin-right: 75px;
}
.nav_item:last-child {
  margin-right: 0px;
}
.header_breadcrumbs {
  height: 34px;
}
.header_breadcrumbs nav {
  padding: 0px 20px;
}
.breadcrumbs_item {
  display: inline;
  margin-right: 10px;
}
.breadcrumbs_item:last-child {
  margin-right: 0px;
}
.breadcrumbs_item a{
  font-size: 14px;
  color: black;
}
.slider_section {
  position: relative;
  /* height: 496px; */
  width: 100%;
  height: auto;
}
.slide_fone {
    width: 100%;
}
.slider_list {
  height: 100%;
}
.slide_name {
  height: 80px;
}
.slide_name h1 {
  height: 100%;
  font-size: 40px;
  color: black;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}
.slider_button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #E26D5A;
  top: 50%;
}
.prev_slide {
  left: 4.5%;
}
.next_slide {
  right: 4.5%;
}
.filter_museums_cont {
    border-bottom: 1px solid #E2E2E2;
}
.wrap_filter_museums {
    position: relative;
    height: 87px;
}
.filter_museums_mob {
  display: none;
}
.filter_museums, .search_card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex-wrap: wrap;
}
.filter_museums label {
    color: #1C2E36;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    /* width: 113px; */
    /* margin-right: 38px; */
    padding-right: 5%;
}
.filter_museums select {
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 3px;
    height: 63.2%;
    color: #666666;
}
.subcat {
    width: 127px;
    margin-right: 8.4%;
}
.type {
    width: 160px;
    margin-right: 16px;
}
.duration {
    /* width: 104px; */
}
.main_row {
    padding: 0;
    align-items: flex-start;
}
.main_col:last-child {
    margin-right: 0px;
}
.filter_museums option {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}
.search_card_row {
    height: 56px;
}
.search_card {
    padding-left: 20px;
}
.num_res {
    padding-right: 10px;
}
.search_card select, .search_card option {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    color: #1C2E36;
}
.search_card select {
    position: absolute;
    height: 100%;
    right: 0px;
}
.search_card span, .search_card label {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #1C2E36;
}
.musems_list {
    /* padding-left: 25px; */
    flex-wrap: wrap;
    padding: 0px 0px 0px 27px;
    justify-content: space-between;
}
.musems_list_item {
    flex-basis:calc(100%/3 - 20px);
    /* width: 31.4%; */
    /*width: 211px;*/
    height: 245px;
    /* margin-right: 20px; */
    margin-bottom: 40px;
    position: relative;
}
/*.musems_list_item:nth-child(3n) {
    margin-right: 0px;
}*/
.musems_list_item p {
    width: 100%;
    font-family: 'Actor';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
}
.item_card {
    display: block;
    width: 100%;
    height: 100%;
}
.item_card_desc {
    color: #1C2E36;
}
.item_card_price {
    position: absolute;
    left: 0;
    bottom: 0;
    color:  #0084BA;
}
.item_card__fone {
    width: 100%;
    height: 57.14%;
    margin-bottom: 12px;
}
.item_card_star {
    position: absolute;
    width: 20px;
    height: 24px;
    top: 10px;
    right: 11px;
}
.col_map {
    position: sticky;
    top: 0;
}
.map_wrap {
    width: 100%;
    height: 700px;
    position: relative;
}
#map {
    width: 100%;
    height: 100%;
}

@media (min-width: 1360px) and (max-width: 1400px) {
    .musems_list_item {
        flex-basis: calc(100%/3 - 13px);
    }
}
@media (max-width: 1360px) {
    .musems_list_item p {
        font-size: 14px;
    }
    .search_field {
        /* width: 297px; */
    }
}
@media (max-width: 1200px) {
    .select_city select {
        display: none;
    }
    .musems_list_item {
        flex-basis: calc(100%/3 - 10px);
    }
}
@media (max-width: 936px) {
    .help_elem span {
        display: none;
    }
}
@media (max-width: 900px) {
    .header_nav {
        display: none;
    }
    .musems_list_item {
        /*width: 163px;*/
        flex-basis: calc(100%/2 - 10px);
        height: 210px;
        /*margin-right: 13px;*/
    }
    .musems_list_item p {
        font-size: 16px;
        line-height: 19px;
    }
}
@media (max-width: 850px) {
    .help_elem {
        display: none;
    }
    .wrap_burger_menu {
        display: block;
    }
}
@media (max-width: 768px) {
    .slide_name h1 {
        font-size: 30px;
    }
    .wrap_filter_museums {
        width: 100%;
        margin-right: 8px;
    }
    .filter_museums label, .wrap_filter_museums select {
        margin-right: 12px;
    }
    .filter_museums label {
        /* margin-right: 184px; */
    }
    .sort_prop {
        left: 28px;;
    }
    .search_card {
        display: flex;
        flex-direction: row-reverse;
    }
}
@media (max-width: 700px) {
  .musems_list_item p {
      font-size: 14px;
  }
  .login, .help_elem {
    display: none;
  }
  .help_elem_img {
    margin-right: 28px;
  }
  .help_mob {
    padding: 0px;
    display: block;
  }
}
@media (max-width: 630px) {
   .musems_list_item p {
      font-size: 12px;
   }
  .musems_list_item {
      flex-basis: calc(100%/3 - 20px);
  }
  .slide_name h1 {
      font-size: 25px;
  }
  .searchForm_wrap {
    display: none;
  }
  .wrap_logo {
    margin-right: 0px; ;
  }
  .filter_museums {
    padding: 0px 20px;
  }
  .wrap_filter_museums {
    height: 100px;
  }
  .subcat, .type, .duration {
    display: none;
  }
  .filter_museums_mob {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .filter_museums_mob button {
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 3px;
    height: 63.2%;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #666666;
    padding: 9px;
  }
  .col_map {
    display: none;
  }
  .col-half {
      flex-basis: 100%;
  }
}
@media (max-width: 500px) {
    .musems_list_item p {
       font-size: 10px;
    }
   .musems_list_item {
       flex-basis: calc(100%/2 - 20px);
   }
}
